#acceuil-img {
  width: 100%;
  object-fit: contain;
  margin-bottom: 2vw;
}
#yann,
#developer {
  position: absolute;
  color: white;
  background-color: rgba(0, 0, 0, 0.542);
  border-radius: 5vw;
}
#yann {
  display: flex;
  top: 17vw;
  left: 15vw;
  padding: 1.5vw;
  align-items: center;
}
#developer {
  width: auto;
  top: 40vw;
  left: 6%;
  padding: 3vw;
}
#developer h1 {
  font-size: 9vw;
  margin: 0;
}
#yann img {
  width: 8vw;
  margin-right: 4vw;
}
#yann h2 {
  font-family: "Pinyon Script", cursive;
  font-size: 8vw;
  font-weight: 500;
  margin: 0;
}
@media (max-width: 1024px) {
  #developer h1 {
    font-size: 8vw;
  }
}
@media (max-width: 768px) {
  #yann {
    left: 10vw;
    top: 25vw;
  }
  #yann h2 {
    font-size: 9vw;
  }
  #developer {
    left: 7.5vw;
    top: 45vw;
    text-align: center;
    padding: 1vw;
  }
  #developer h1 {
    font-size: 9vw;
  }
}
