#acceuil-img {
    width: 100%;
    object-fit: cover;
    margin-bottom: 2vw;
}
#yann {
    display: flex;
    position: absolute;
    align-items: center;
    top: 35%;
    left: 20%;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 5vw;
    padding: 1.5vw;
}
#yann img {
    width: 8vw;
    margin-right: 4vw;
}
#yann h2 {
    font-family: "Great Vibes", cursive;
    font-size: 7vw;
    font-weight: 100;
    margin: 0;
}
#developer {
    position: absolute;
    width: auto;
    top: 70%;
    left: 5%;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5vw;
    padding: 3vw;
}
#developer p {
    font-size: 9vw;
    margin: 0;
}
