@font-face {
  font-family: "BebasNeue";
  src: url("/public/fonts/BebasNeue-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Pinyon Script";
  src: url("/public/fonts/PinyonScript-Regular.ttf") format("truetype");
}
#accueil-img {
  width: 100%;
  height: auto;
  object-fit: contain;
  margin-bottom: 2vw;
}
#yann,
#developer {
  position: absolute;
  color: white;
  border-radius: 5vw;
  padding: 1vw 3vw !important;
  background-color: rgba(0, 0, 0, 0.688);
}
#yann {
  display: flex;
  padding: 1.5vw;
  align-items: center;
}
#developer {
  width: auto;
  top: 40vw;
  left: 6%;
  padding: 3vw;
  font-family: "BebasNeue", sans-serif;
}
#developer h1 {
  font-size: 9vw;
  font-weight: 200;
  margin: 0;
}
#yann img {
  width: 8vw;
  height: 8vw;
  margin-right: 4vw;
}
#yann h2 {
  font-family: "Pinyon Script", cursive;
  font-size: 7vw;
  font-weight: 500;
  margin: 0;
}
@media (max-width: 2560px) {
  #developer {
    top: 32vw;
    left: 4.5vw;
  }
  #yann {
    top: 15vw;

    left: 17vw;
  }
}
@media (max-width: 1920px) {
  #developer {
    top: 32vw;
    left: 4.5vw;
  }
  #yann {
    top: 19vw;
    font-size: 4vw;
    left: 17vw;
  }
}
@media (max-width: 1440px) {
  #developer {
    top: 40vw;
  }
  #yann {
    top: 25vw;
  }
}
@media (max-width: 1024px) {
  #developer h1 {
    font-size: 8.5vw;
  }
}
@media (max-width: 768px) {
  #yann {
    left: 16vw;
    top: 30vw;
  }
  #yann h2 {
    font-size: 7vw;
  }
  #developer {
    left: 6vw;
    top: 45vw;
    text-align: center;
    padding: 1vw;
  }
  #developer h1 {
    font-size: 9vw;
  }
}
