footer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 7vw;
  background-color: black;
  color: white;
  align-items: center;
  margin-top: 7vw;
}
footer h2 {
  font-size: 3vw;
  margin-right: 2vw;
}
#open-modal {
  font-size: 2vw;
  color: white;
  margin-right: 3vw;
  cursor: pointer;
}
.mentions-legales {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.733);
  padding-top: 60px;
}

.legales-content {
  text-align: center;
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 5vw;
  width: 80%;
  color: black;
}
.legales-content h2 {
  font-size: 5vw;
  margin: auto;
}
.legales-content h3 {
  font-size: 3vw;
  margin: 2vw;
}
.legales-content p {
  font-family: "Voltaire", sans-serif;
  font-size: 2vw;
}

.close-legales {
  position: absolute;
  color: #000000;
  float: right;
  top: 10vw;
  left: 80vw;
  font-size: 10vw;
  cursor: pointer;
}

@media (max-width: 768px) {
  footer {
    height: 14vw;
  }
  footer h2 {
    font-size: 4vw;
  }
}
