.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 6vw;
  background-color: black;
  align-items: center;
  border: none;
  position: fixed;
  z-index: 1000;
  top: 0;
}
#social-link {
  display: flex;
  justify-content: center;
  margin: 0;
}
#social-link img {
  width: 4vw;
  height: 4vw;
  margin: 3vw 0 2vw 3vw;
  transition: transform 0.2s ease-in-out;
}
#social-link img:hover {
  cursor: pointer;
  transform: scale(1.3);
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 80%;
  margin-right: 2vw;
}
.header .navbar .nav-link {
  text-decoration: none;
  color: white;
  font-size: 3vw;
  font-family: "Bebas Neue", sans-serif;
  margin-right: 4vw;
}

.header .navbar .nav-link:hover {
  color: white;
  text-decoration: underline;
  text-underline-offset: 0.3vw;
  cursor: pointer;
}
.burger-menu {
  display: none;
  font-size: 7vw;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
}
.burger-menu.cross::before {
  content: "✖";
}
.mobile-nav {
  display: none;
  background-color: black;
  position: fixed;
  top: 6vw;
  width: 100%;
  z-index: 999;
}
.mobile-nav nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mobile-nav nav a {
  color: white;
  padding: 2vw;
  text-align: center;
  text-decoration: none;
  font-size: 7vw;
  font-family: "Bebas Neue", sans-serif;
}
@media (max-width: 768px) {
  .navbar {
    display: none;
  }
  .header {
    height: 15vw;
  }
  #social-link {
    width: 25%;
  }
  #social-link img {
    width: 9vw;
    height: 9vw;
    margin: 2vw 2vw 0 4vw;
  }

  .burger-menu {
    display: block;
    margin: 2vw 7vw 1vw auto;
  }
  .header .navbar.active {
    display: flex;
    align-items: center;
    margin-top: 67vw;
    margin-left: 4vw;
    height: 60vw;
    padding-bottom: 3vw;
    border-radius: 3vw;
  }
  .mobile-nav.active {
    display: flex;
    flex-direction: column;
    margin-top: 9vw;
  }
  .burger-menu.cross::before {
    content: "✖";
    margin-left: 3vw;
    font-size: 10vw;
  }
  .burger-menu:not(.cross)::before {
    content: "☰";
    font-size: 10vw;
  }
  .span .burger-menu {
    margin: 2vw auto;
  }
  .burger-menu.cross {
    width: 12%;
  }
}
