#presentation {
  margin-bottom: 5vw;
}
#presentation h2 {
  text-align: center;
  font-size: 6vw;
  font-family: "Bebas Neue", sans-serif;
  margin: 1vw;
}
#presentation div {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.832);
  color: white;
  margin: 0 3vw;
  border-radius: 3vw;
  font-size: 3vw;
}
#presentation p {
  font-family: "Voltaire", sans-serif;
  margin: 3vw;
}
@media (max-width: 1024px) {
  #presentation div {
    font-size: 4vw;
    margin: 0 7vw;
  }
  #presentation h2 {
    font-size: 7vw;
  }
}

@media (max-width: 768px) {
  #presentation div {
    font-size: 5vw;
    margin: 0 7vw;
  }
  #presentation h2 {
    font-size: 9vw;
  }
}
