* {
    margin: 0;
    font-family: "Bebas Neue", sans-serif;
}
main {
    justify-content: center;
}
.section-bar {
    margin: 0 auto;
    width: 70%;
    height: 0.5vw;
    background-color: blueviolet;
    border-radius: 3vw;
}