* {
  margin: 0;
}
@font-face {
  font-family: "BebasNeue";
  src: url("/public/fonts/BebasNeue-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Voltaire";
  src: url("/public/fonts/Voltaire-Regular.ttf") format("truetype");
}
main {
  justify-content: center;
  background-color: #ffffff;
}
h2,
h3 {
  font-family: "BebasNeue", sans-serif;
}
h4,
p {
  font-family: "Voltaire", sans-serif;
}
.section-bar {
  margin: 0 auto;
  width: 67%;
  height: 0.7vw;
  background-color: blueviolet;
  border-radius: 3vw;
}
