* {
  margin: 0;
  font-family: "Bebas Neue", sans-serif;
}
main {
  justify-content: center;
}
.section-bar {
  margin: 0 auto;
  width: 80%;
  height: 0.7vw;
  background-color: blueviolet;
  border-radius: 3vw;
}
